.registerModal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.registerModal__container {
  display: flex;
  position: relative;
  height: 456px;
  width: 496px;
  background-color: #fff;
  border-radius: 16px;
}

.registerModal__closeButton {
  background-image: url(../../images/closeButtonImage.png);
  background-position: center;
  position: absolute;
  top: 27px;
  right: 27px;
  height: 14px;
  width: 14px;
  z-index: 4;
}

.registerModal__title {
  position: absolute;
  top: 28px;
  left: 28px;
  margin: 0px;
  z-index: 1;
  height: 20px;
  width: 80px;
  font-weight: 700;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #000;
  z-index: 2;
}

.registerModal__emailLabel {
  top: 72px;
  left: 28px;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  color: #000;
  font-weight: 700;
  height: 20px;
  width: 45px;
  font-size: 16px;
  z-index: 2;
}

.registerModal__emailField {
  position: absolute;
  top: 104px;
  left: 28px;
  width: 440px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000;
}

.registerModal__passwordLabel {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 148px;
  left: 28px;
  color: #000;
  font-weight: 700;
  width: 69px;
  height: 20px;
  font-size: 16px;
  z-index: 2;
}

.registerModal__passwordField {
  position: absolute;
  top: 180px;
  left: 28px;
  width: 440px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000;
}

.registerModal__nameLabel {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 224px;
  left: 28px;
  color: #000;
  font-weight: 700;
  width: 69px;
  height: 20px;
  font-size: 16px;
  z-index: 2;
}

.registerModal__nameField {
  position: absolute;
  top: 256px;
  left: 28px;
  width: 440px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000;
}

.registerModal__avatarUrlLabel {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 300px;
  left: 28px;
  color: #000;
  font-weight: 700;
  width: 90px;
  height: 20px;
  font-size: 16px;
  z-index: 2;
}

.registerModal__avatarUrlField {
  position: absolute;
  top: 332px;
  left: 28px;
  width: 440px;
  height: 20px;
  border: none;
  border-bottom: 1px solid #000;
}

.registerModal__nextButton {
  position: absolute;
  bottom: 36px;
  left: 28px;
  width: 73px;
  height: 36px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 4px;
}

.registerModal__loginButton {
  position: absolute;
  bottom: 44px;
  left: 113px;
  width: 100px;
  height: 20px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 700;
}

/* .registerModal__image {
  position: absolute;
  top: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  width: 498px;
} */

/* .registerModal__deleteButton {
  position: absolute;
  right: 32px;
  bottom: 68px;
  color: #ff4d00;
  border: none;
  background-color: #fff;
  font-size: 20px;
  font-weight: 700;
  width: 125px;
  height: 24px;
  z-index: 4;
  font-family: "Montserrat", sans-serif;
} */
